<main class="container">
    <section class="row">
        <div class="col-md-8">
            <form class="block form-horizontal">
                <h1 class="block-header">Contact</h1>
                <hr />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a id="email-link`" href="mailto:adam@adamkarman.com"
                            target="_top">adam@adamkarman.com</a>
                    </li>
                    <li class="list-group-item"><span class="badge badge-secondary">Phone: (602) 739-0415</span></li>
                    <li class="list-group-item"><a class="badge badge-success" href="/pdf/adamkarman-resume.pdf">My
                            Resume (PDF)</a></li>
                    <li class="list-group-item">
                        <a class="badge badge-primary" href="https://github.com/ghost0fharambe">Github <i
                                class="fab fa-github-square fa-2x"></i></a>
                        <img class="img-fluid port-image rounded float-right" src="/imgs/github.png">
                    </li>
                    <li class="list-group-item">
                        <a class="badge badge-primary" href="linkedin.com/in/adam-karman-1bb026171">LinkedIn <i
                                class="fab fa-linkedin fa-2x"></i></a>
                        <img class="img-fluid port-image rounded float-right" src="/imgs/linkedin.png" alt="">
                    </li>
                    <li class="list-group-item">
                        <a class="badge badge-primary"
                            href="https://stackoverflow.com/users/10751591/adam-karman?tab=profile">Stack
                            Overflow <i class="fab fa-stack-overflow fa-2x"></i></a>
                        <img class="img-fluid port-image rounded float-right" src="/imgs/stackoverflow.png" alt="">
                    </li>
                </ul>
            </form>
        </div>
    </section>
</main>
<!-- End of container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>