<!-- Start of container -->
<main class="container">
  <section class="row">
    <div class="col-md-8">
      <article class="block">
        <h1 class="block-header">About Me</h1>
        <hr />
        <img src="/imgs/profile-picture.jpg" alt="" id="about-image" />
        A newly graduated Web Developer from University of Arizona’s Full Stack Web Development Boot Camp, highly
        motivated with a passion for technology and software engineering. Skilled at problem solving and enjoys fixing
        errors and designing creative solutions to complex problems.
        Works best with JavaScript and related technologies, such as jQuery, Node, and React; and is particularly adept
        at developing the back-end of applications using multiple tools, namely Express and Node.
        </p>
        <br>
        <p>
          Personable, placing strong emphasis on inter-group communication.
          Works well alone; however, drawing on knowledge gained from commanding a Platoon in the Junior Reserve Officer
          Training Corps, has extensive experience working in collaboration with others to more efficiently and promptly
          accomplish their goals.
          <br>
          <a href="https://www.linkedin.com/in/adam-karman-1bb026171/"><img class="img-fluid port-image"
              src="/imgs/linkedin.png" alt=""></a>
          <a href="https://stackoverflow.com/users/10751591/adam-karman?tab=profile"><img class="img-fluid port-image"
              src="/imgs/stackoverflow.png" alt=""></a>
          <a href="https://github.com/ghost0fharambe"><img class="img-fluid port-image" src="/imgs/github.png"></a>
      </article>
    </div>
  </section>
</main>
<!-- End of container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>