<!-- Start of container -->
<main class="container">
  <section class="row">
    <div class="col-md-8">
      <article class="block">
        <h1 class="block-header">About Me</h1>
        <hr />
        <img src="/imgs/profile-picture.jpeg" alt="" id="about-image" />
        My name is Adam Karman, and I have long dreamed of pursuing a career in the tech field.
        Born and raised in Arizona, I have always had an interest in computers, and have dabbled with coding on my
        own.
        I eventually attended the University of Arizona's Full Stack Web Development Bootcamp, to learn the skills
        necessary to start a career.
        </p>
        <br>
        <p>
          I spend my time writing code, playing video games, listening to music, and enjoying the weather up in the
          mountains.
          <br>
          <a href="https://www.linkedin.com/in/adam-karman-1bb026171/"><img class="img-fluid port-image"
              src="/imgs/linkedin.png" alt=""></a>
          <a href="https://stackoverflow.com/users/10751591/adam-karman?tab=profile"><img class="img-fluid port-image"
              src="/imgs/stackoverflow.png" alt=""></a>
          <a href="https://github.com/ghost0fharambe"><img class="img-fluid port-image"
              src="/imgs/github.png"></a>
      </article>
    </div>
  </section>
</main>
<!-- End of container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>