<!-- Start of container -->
<div class="container">
    <main class="row">
        <div class="col-md-8">
            <article class="block">
                <h1 class="block-header">Portfolio</h1>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/Capture.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://ghost0fharambe.github.io/ajax-giftastic/" target="_blank">Giftastic!</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/react-memorize-game.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://ghost0fharambe.github.io/react-memory-game_redux/" target="_blank">Archer Memory
                                    Game</a></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/mongo-scraper.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://arcane-forest-58136.herokuapp.com/" target="_blank">
                                    StackOverflow Article Scraper</a></figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/traffic-mon.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://www.trafficmon.org" target="_blank">TrafficMon - The Traffic
                                    Reporting App</a></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/moviebot.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://cbessjr.github.io/project-1/" target="_blank">movieBot</a></figcaption>
                        </figure>
                    </div>
                </div>
            </article>
        </div>
    </main>
</div>
<!-- End of container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>