<!-- Start of container -->
<div class="container">
    <main class="row">
        <div class="col-md-8">
            <article class="block">
                <h1 class="block-header">Portfolio</h1>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/Capture.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://ghost0fharambe.github.io/ajax-giftastic/">Giftastic!</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/letter-guess.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://ghost0fharambe.github.io/psychic-game/">Letter
                                    Guess!</a></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/crystal-game.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://ghost0fharambe.github.io/unit-4-game/">Crystal
                                    Collector!</a></figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/train-scheduler.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://ghost0fharambe.github.io/train-scheduler/">Train
                                    Scheduler</a></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <figure class="figure">
                            <img class="img-fluid port-image img-thumbnail" src="/imgs/moviebot.PNG" alt="">
                            <figcaption class="figure-caption"><a class="badge badge-primary"
                                    href="https://cbessjr.github.io/project-1/">movieBot</a></figcaption>
                        </figure>
                    </div>
                </div>
            </article>
        </div>
    </main>
</div>
<!-- End of container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>